*{
    margin: 0%;
    padding: 0%;
}

/*INICIO DEL MIO DE TRIANGULO*/

body{
    background: #CC95C0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 50px;
}

h1, h3{
    color: rgb(99, 12, 45);
    text-align: center;

}
#areaResultado {
    width: 100pt;
    height: 14pt;
}


.areabo{
    text-align: right;

}
input{
    margin-top: 2px;
}
  
button{
   margin-top: 20px;
    float: inline-start;
}

.botonray{
    width: 80px;
    height: 20px;

}

/*ESTILOS DEL RELOG*/
.TextoUno {
    float:inline-start;
    width: 75%;
    margin-top: 10px;
}

.TextoDos {
    float: left;
    width: 75%;
    margin-top: 10px;
}

.grid-container {
    display: grid;
    grid-column-gap: 30px;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    padding: 50px;
    align-items: center;
}
  
.item1{
    background-color: rgba(248, 243, 250, 0.712);
    border: 0.5px solid rgba(0, 0, 0, 0.877);
    padding: 30px;
    font-size: 17px;
    border-radius: 10px;
}

.texto{
    margin-top: 30px;
}

.imprim{
    text-align: center;
    cursor: pointer;

}


button:hover{
    
    background-color: rgb(77, 169, 245);
    color: rgb(68, 22, 7);
}